
button, a.ripple {
  border: none;
  cursor: pointer;
  color: var(--color-primary-100);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .7);
    opacity: 0;
    filter: blur(5px);
    border-radius: 200%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }
}

button:focus:not(:active)::after, .ripple::after {
  animation: ripple 1.5s ease-in-out;
}

/* Material design ripple animation */
@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  20% {
    transform: scale(25, 25);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}